<!DOCTYPE html>
<html>
<head>
    <title>Jewelry Shop - Manage Rates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Add Daily Rate</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="/save" method="POST">
        <label>Date</label>
        <input type="date" name="date" value="{{ today }}" readonly required>

        <label>Category</label>
        <select name="category" required>
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Platinum">Platinum</option>
            <option value="Diamond">Diamond</option>
        </select>

        <label>Type / Purity (e.g., 22K, 925, VVS)</label>
        <input type="text" name="gold_type" placeholder="Ex: 22K or 1 Gram" required>

        <label>Rate per Gram</label>
        <input type="number" name="rate" required>

        <label>GST (%)</label>
        <input type="number" name="gst" required>

        <label>Making Charges</label>
        <input type="number" name="making" required>

        <button type="submit" class="btn-save">Save</button>
    </form>

    <hr>

    <h3>Update Today's Rate</h3>

   <form action="/update_today" method="POST">
        <label>Date</label>
        <input type="date" name="edit_date" value="{{ today }}" readonly required>

        <label>Select Category to Update</label>
        <select name="edit_category" required>
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Platinum">Platinum</option>
            <option value="Diamond">Diamond</option>
        </select>

        <label>Type / Purity (Must match exactly)</label>
        <input type="text" name="edit_gold_type" placeholder="Ex: 22K" required>

        <label>New Rate</label>
        <input type="number" name="new_rate" required>

        <label>New GST</label>
        <input type="number" name="new_gst" required>

        <label>New Making</label>
        <input type="number" name="new_making" required>

        <button type="submit" class="btn-update">Update</button>
    </form>

    <br>
    <a href="/view" class="link-btn">View All Rates</a>
</div>

</body>
</html>